*{
    box-sizing: border-box;
    list-style-type: none;
}

html, body {
    margin: 0;
    background-image: url(../assets/1184726.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100dvh;
}

h1{
    color: rgb(39, 39, 39);
    text-align: center;
    font-size: 42px;
}

img{
    border: #132141 solid 3px;
    border-radius: 10px;
}

card{
    border: black solid 3px;
}